<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="auth" style="text-align: right">
    <div>
        {% if app.user %}
            <p>{{ message ?? 'HI' }} {{ app.user.username }}</p>
            <button onclick="window.location.href='/logout'">Sign Out</button>
        {% else %}
            <p>{{ message ?? 'HI' }} annon!!!</p>
            <button onclick="window.location.href='/login'">Sign In</button>
            <button onclick="window.location.href='/register'">Sign Up</button>
        {% endif %}
    </div>
    <div>
        {% if is_granted('PUBLIC_ACCESS') -%}
            <div> # You're `PUBLIC_ACCESS`</div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') -%}
            <div> # You're `ROLE_SUPER_ADMIN`</div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') -%}
            <div> # You're `ROLE_ADMIN`</div>
        {% endif %}
        {% if is_granted('ROLE_USER') -%}
            <div> # You're `ROLE_USER`</div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div> # This user entered their credentials THIS session</div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div> # User logged in via a cookie (ie: Auth again before doing sensitive things)</div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <div> # This is a `guest` or anonymous user</div>
        {% endif %}
    </div>
</div>
<div>
    {% block body %}{% endblock %}
</div>
</body>
</html>